<div class="card resault_card">
    <div class="card_content">
        <div class="row">
            <p>Title:</p>
            <strong [routerLink]="['/Post',post.id]">{{post.title}}</strong>
        </div>
        <div class="row">
            <p>Flair:</p>
            <button class="btn btn-filled " readonly>{{post.flair}}</button>
        </div>
            <div class="content">
                <p>Text: </p>
                <p class="content_txt" [routerLink]="['/Post',post.id]">
                    {{post.text}}
                </p>
        </div>
        <div class="higlighter">
            <h4>Higlight:</h4>
            <p [innerHTML]= "sanitizer.bypassSecurityTrustHtml(post.highlighterTxt)"></p>
        </div>
    </div>
</div>

   