<div class="navMenu modal">
    <ul>
        <li [routerLink]="['Users/About/Me']" (click)="closeThis()">
            <ion-icon name="person-circle-outline"></ion-icon>
            <a>My Profile</a>
        </li>
        <li [routerLink]="['Community/Create']" (click)="closeThis()">
            <ion-icon name="add-circle-outline"></ion-icon>
            <a>Create community</a>
        </li>
        <li [routerLink]="['Moderator/Communities']" (click)="closeThis()">
            <ion-icon name="list-outline"></ion-icon>
            <a>My Communities</a>
        </li>
        <li (click)="logOut()">
            <ion-icon name="log-out-outline"></ion-icon>
            <a>Log out</a>
        </li>
    </ul>
</div>