.sidebar{
    background-color: var(--card-color);
    min-height: 92vh; /* 100vh - navbar height */
    min-width: 12vw;
    height: 100%;
}

.sidebar > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
}

.sidebar > ul > li{
    padding: 10px;
    border-bottom: 1px solid var(--devider);
    font-size: large;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 2px solid var(--devider);
    display: flex;
    gap:5px;
    align-items: center;
}

.sidebar > ul > li > a{
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    pointer-events: none;
}

ion-icon{
    font-size: 1.5em;
}

.sidebar > ul > li:hover{
    background-color: var(--hower-light);
}

.active{
    background-color: var(--hower-light);
}

#logOut{
    border-top: 1px solid var(--devider);
    margin-top: auto;
}