<div class="sidebar">
    <ul>
        <li (click)="navigate($event)" id="Users/About/Me">
            <ion-icon name="person-circle-outline"></ion-icon>
            <a>My Profile</a>
        </li>
        <li (click)="navigate($event)" id="Users/About/Edit">
            <ion-icon name="options-outline"></ion-icon>
            <a>My Settings</a>
        </li>
        <li id="logOut">
            <ion-icon name="log-out-outline"></ion-icon>
            <a>Log out</a>
        </li>
    </ul>
</div>