<aside class="postKarmaRow">
    <button #upvoteElement (click)="upvote()" class="btn-wrapper" [attr.upvoted] = "'false'" ><ion-icon  name="caret-up" class="karma_btn " ></ion-icon></button>
    <p class="karma_num">{{post.karma}}</p>
    <button #downovoteElement class="btn-wrapper"  (click)="downvote()" [attr.downvoted] = "'false'">
        <ion-icon  name="caret-down"  class="karma_btn "></ion-icon>
    </button>    <button  class="btn btn-light flexboxEnd" *ngIf="!canEdit()" >Report</button>
    <ion-icon name="ellipsis-vertical-outline" class="settings" *ngIf="canEdit()" (click)="openSettings()"></ion-icon>
    <div class="posst-settings modal" #settingsModal>
        <ul>
            <li (click)="deletePost()">
                <a> <span><ion-icon name="trash-outline"></ion-icon></span>Delete</a>
            </li>
            <li (click)="openEditPage()">
                <a><span><ion-icon name="create-outline"></ion-icon></span>Edit</a>
            </li>
        </ul>
    </div>
</aside>