.asside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: stretch;
    max-width: fit-content;
}

app-community-rules-card ,app-about-community-card,app-community-flairs-card{
    width: 100%;
}