<div class="commentRow card">
   <section class="usernameSection">
    <div class="img_overlay">
        <img [src]="getImg()" class="profileImg">
    </div>
        <h5 [routerLink]="['/Users',comment.postedBy.id]">{{comment.postedBy.username}}</h5>
        <p>{{comment.timestamp | weekAgo}}</p>
   </section>
        <p class="commentContent" #commentContent>{{comment.text}}</p>

    <app-crate-edit-comment-card [mode]="stringMode" [commentForEdit]="comment" (commentAdded) = "reload()" (cancelEv)="cancel($event)" *ngIf="loggedIn != undefined"></app-crate-edit-comment-card>
    <app-comment-karma-row [comment] = "comment" (editEvent) = "editComment()" (replyEvenet)="replyToComment()"></app-comment-karma-row>
    <div class="replies" *ngIf ="comment.replies.length > 0">
        <app-comment-card *ngFor="let reply of comment.replies" [comment]="reply" class="reply" (reloadEv) = "reload()" (cencelEvent) = "cancel(reply.id)"></app-comment-card>
    </div>
</div>