.cretePostRow{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px;
}

.test_img{
    height: 60px;
    width: 60px;
}

input{
    font-size: 1em;
    padding: 15px 8px;
    min-width: 400px;
    border-radius: 10px;
}