.wrapper{
    display: grid;
    grid-template-areas: "nav"
                        "main";
    grid-template-rows: minmax(1vh,8vh)  1fr ;
    background-color: var(--background-color);
    align-content: center;
    height: max-content;
}

.router-outlet {
    grid-area: main;
}

app-navigation-bar{
    grid-area: nav;
    height: 100%;
}

