<div class="wrapper">
  <app-navigation-bar (ModalEvent)="openModal($event)" *ngIf="isLoggedIn == false"></app-navigation-bar>
  <app-logged-in-navigation *ngIf="isLoggedIn"  (ModalEvent)="openModal($event)"></app-logged-in-navigation>
  <router-outlet></router-outlet>
  <app-login-modal #logInModal id="logInModal" class="" (CloseModal)="closeModal($event)"></app-login-modal>
  <app-register-modal #registerModal id="registerModal" class="" (CloseModal)="closeModal($event)"></app-register-modal>
  <app-search-modal #searchModal id="searchModal" (CloseModal)="closeModal($event)"></app-search-modal>
  <app-alert-modal class=""></app-alert-modal>
  <app-report-alert class="" (openReportEvent)="showReportModal()" (closeReportEvent)="closeReportModal()">
  </app-report-alert>
  <div #overlay class="" id="overlay" (click)="overlayClick()"></div>
</div>