<div class="wrapper">
    <h1>Change your password:</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="password" [formControlName]="'oldPassword'" name="oldPassword" placeholder="Old password" [ngClass]= "{  'invalid' : !form.get('oldPassword')?.valid && form.get('oldPassword')?.touched}">
        <p class="errorLabel" *ngIf="!form.get('oldPassword')?.valid && form.get('oldPassword')?.touched">This feild can not be empty!</p>
        <input type="password" [formControlName]="'password'" name="password" placeholder="New password" [ngClass]= "{  'invalid' : !form.get('password')?.valid && form.get('password')?.touched}">
        <p class="errorLabel" *ngIf="!form.get('password')?.valid && form.get('password')?.touched">This feild can not be empty!</p>
        <input type="password" [formControlName]="'repeatedPassword'" name="confirmPassword" placeholder="Confirm password" [ngClass]= "{  'invalid' : !form.get('repeatedPassword')?.valid && form.get('repeatedPassword')?.touched}">
        <p class="errorLabel" *ngIf="!form.get('repeatedPassword')?.valid && form.get('repeatedPassword')?.touched">This feild can not be empty!</p>
        <p class="errorLabel" *ngIf="passwordsDontMatch()">Paswords do not match!</p>
        <button type="submit" class="btn btn-filled" [disabled]="form.invalid">Submit</button>
    </form>
</div>