<div class="modal confirmDialog" *ngIf="containsFeild">
    <h4>Add search criterium</h4>
    <p>Please choose search type,logic and feild for comparison</p>
    <div class="wrapper">
        <label for="select">Feild:</label>
        <select class="select" id="select" (change)="setFeild($any($event.target!).value)">
            <option [value]="">Please choose</option>
            <option *ngFor="let f of avelableFeilds()" [value]="f.key"  >{{f.name}}</option>
        </select>
        <label for="select">Logic:</label>
        <select class="select" id="select" (change)="setLogic($any($event.target!).value)">
            <option [value]="'AND'">AND</option>
            <option [value]="'OR'">OR</option>
        </select>
    </div>
        <button class="btn btn-light" (click)="cancel()" >Cancel</button>
        <button class="btn btn-filled" (click) = "ok()" >Ok</button>
</div>