.navHeader, app-navigation-bar{
    grid-area: nav;
    height: 100%;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--card-color);
    max-height: 100%;
}

#homeLogoBtn{
    justify-self: stretch;
}

.navLogo{
    padding: 10px;
    max-height: 8vh;
}

.select{
    font-size: large;
    border-radius: 5px;
    width: 7em;
    text-align: center;
}

.search{
    border: 2px solid var(--card-color);
    font-size: large;
    padding: 10px 3px;
    min-width: 40%;
    border-radius: 10px;
    margin: auto;
}

