.navHeader, app-navigation-bar{
    grid-area: nav;
    height: 100%;
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--card-color);
    max-height: 100%;
}

#homeLogoBtn{
    justify-self: stretch;
}

.navLogo{
    padding: 10px;
    max-height: 8vh;
}