<header class="navHeader">
    <nav class="navBar">
        <a (click)="navigateTo('/Home')" id="homeLogoBtn">
            <img src="../../../assets/logo/RedditLogo-Light.png" alt="page logo" class="navLogo">
        </a>

        <select class="select" (change)="navigateTo($any($event.target!).value)">
            <option   [value]="'/Home'">Home</option>
            <option *ngFor="let c of communities"  [value]="'/Community/' + c.id">{{c.name}}</option>
        </select>
        <input *ngIf="!currentRoute.includes('Community')" type="text" placeholder="Search communities" class="search" (click)="searchModal()">
        <input *ngIf="currentRoute.includes('Community')" type="text" placeholder="Search Posts from this community" class="search" (click)="searchPostsModal()">
        <button class="flexboxEnd btn btn-light" (click) = "registerModal()">Sign up</button>
        <button class="btn btn-filled"  (click)="loginModal()">Log in</button>
    </nav>
</header>