<header class="navHeader">
    <nav class="navBar">
        <a routerLink="/Home" id="homeLogoBtn">
            <img src="../../../assets/logo/RedditLogo-Light.png" alt="page logo" class="navLogo">
        </a>

        <select class="select" (change)="navigateTo($any($event.target!).value)">
            <option   [value]="'/Home'">Home</option>
            <option *ngFor="let c of communities"  [value]="'/Community/' + c.id">{{c.name}}</option>
        </select>

        <button class="flexboxEnd btn btn-light">Sign up</button>
        <button class="btn btn-filled">Log in</button>
    </nav>
</header>