.notLogged{
    display : flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
}

h2{
    font-size: 2em;
}

img{
    max-width: 30%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 4em;
    color: var(--primary-color);
}