.post_card{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
}

.post_card_karma{
    grid-row: 1/-1;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    border-right: 1px  solid var(--devider);
}

.karma_btn{
    font-size: 3.5rem;
}

.karma_num{
    font-size: x-large;
}


.card_content{
    padding: 0 10px;
   display: grid;
   grid-template-areas: "community"
                        "title"
                        "content"
                        "commnets";
    grid-template-rows: fit-content fit-content 1fr fit-content;
}

.commnuity_card_row{
    grid-area: community;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.post_title_row{
   display: grid;
   grid-template-rows: fit-content fit-content;
}

.flare{
    padding: 3px;
}

.posted_by{
    margin-left: auto;
}

.username{
    font-size: larger;
}


.title_div{
        display: flex;
        align-items: center;
        gap: 10px;
}

.content_txt{
    margin: 10px 0;
    font-size: larger;
}

.card_comment_row{
    padding: 10px 50px 10px 40px;
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px  solid var(--devider);
}
