<div class="card post_card">
    <aside class="post_card_karma">
        <ion-icon name="caret-up" class="karma_btn upwoted"></ion-icon>
        <p class="karma_num">235</p>
        <ion-icon name="caret-down" class="karma_btn downwoted"></ion-icon>
    </aside>
    <div class="card_content">
        <div class="commnuity_card_row">
            <div class="test_img"></div>
            <h4>CommunityName</h4>
        </div>
        <header class="post_title_row">
            <div class="title_div">
                <h2>Post title example</h2>
                <button class="btn btn-filled flare">flare</button>
                <p class="posted_by">posted by:</p>
                <div class="flex">
                    <div class="test_img"></div>
                    <p class="username">Username</p>
                </div>
            </div>
            <div class="posted_ago">
                <p>2w ago</p>
            </div>
        </header>
        <p class="content_txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique tempus velit ac
            tempus.
            Cras faucibus non erat eget ultricies. Nulla sit amet metus felis. Lorem ipsum dolor sit
            amet,
            consectetur adipiscing elit. Nulla finibus volutpat euismod consectetur adipiscing...
        </p>
    </div>
    <div class="card_comment_row">
        <a href="" class="link">Comments</a>
        <a href="" class="link">Report</a>
    </div>