.reportDialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    font-size: 2.5rem;
}

p{
    font-size: 1.5rem;
    color: var(--devider);
    padding-bottom: 15px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    overflow: auto;
}

input[type="radio"]{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

input[type='radio']:checked:after {
    width: 21px;
    height: 21px;
    border-radius: 21px;
    top: -3px;
    left: 0;
    position: relative;
    background-color: var(--primary-color);
    content: '\2022';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    border: 1px solid var(--seccondary-color);
    color: var(--seccondary-color);
}


input[type='radio']:checked,input[type='radio']:active{
    border: none;
}

label{
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer;
}

.btn{
    min-width: 20%;
}