.post_card{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    width: 100%;
}

app-post-card-karma{
    grid-row: -1/1;
    grid-column: 1/2;
}

.card_content{
    padding: 0 10px;
   display: grid;
   grid-template-areas: "community"
                        "title"
                        "content"
                        "commnets";
    grid-template-rows: fit-content fit-content 1fr fit-content;
}



.content_txt{
    margin: 10px 0;
    font-size: larger;
}

.card_comment_row{
    padding: 10px 50px 10px 40px;
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px  solid var(--devider);
}

h4,p,h2{
    cursor: pointer;
}