.postSection{
    margin-top: 40px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
    justify-content: center;
}

.content{
    align-self: center;
    font-size: larger;
}

.postImg{
    align-self: center;
    max-width: 50%;
    max-height: 50%;
}

